/*================= GENERALES =================*/
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #2c3e50, #3498db);
}

/*================= MENU HAMBURGUESA =================*/
.menu-icon {
    display: none;
    cursor: pointer;
}

.linea {
    width: 30px;
    height: 3px;
    background-color: #fff; 
    margin: 6px 0;
}

/*================= HEADER PRINCIPAL =================*/
#barra_navegacion {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#barra_navegacion ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

#barra_navegacion li {
    margin: 15px;
}

#barra_navegacion a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
}

#barra_navegacion a:hover {
    color: gray;
    border-bottom: 2px solid gray;
}

/*Se crea la clase*/
#nav.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    z-index: 999;
}

/*================= SECCION INICIO =================*/
#seccion_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_datos {
    width: 80%;
    height: 80%;
    margin: 10px;
    text-align: center;
}

.div_datos h1 {
    font-size: 40px;
}

.div_datos h3 {
    font-size: 36px;
}

.div_datos p {
    font-size: 30px;
}

.div_cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.div_cv button {
    font-size: 25px;
    border-radius: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
}

.div_cv button a {
    text-decoration: none;
    color: white;
}

.div_cv button:hover {
    background-color: rgb(180, 179, 179);
    color: black;
}

.div_iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_iconos .fa-github,
.div_iconos .fa-whatsapp {
    margin: 20px;
    font-size: 44px;
    cursor: pointer;
}

.div_iconos .fa-github {
    color: #181717;
}

.fa-whatsapp {
    color: #25D366;
}

.div_datos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 30px 12px 24px rgba(20, 4, 240, 0.5);
}

/*================= SECCION SOBRE MI =================*/
#seccion_sobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 100px;
}

.div_texto_sobremi {
    text-align: center;
    text-wrap: balance;
}

.div_texto_sobremi p {
    font-size: 28px;
    font-weight: bolder;
}

.div_lenguajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div_lenguajes .fa-html5,
.div_lenguajes .fa-css3-alt,
.div_lenguajes .fa-bootstrap,
.div_lenguajes .fa-js,
.div_lenguajes .fa-react,
.div_lenguajes .fa-angular,
.div_lenguajes .fa-python,
.div_lenguajes .fa-php {
    font-size: 60px;
    margin: 10px;
}

.fa-html5 {
    color: #E44D26;
}

.fa-css3-alt {
    color:#03548a;
}

.fa-js {
    color: #F0DB4F;
}

.fa-bootstrap {
    color: #563D7C;
}

.fa-react {
    color: #61DAFB;
}

.fa-angular {
    color: #DD0031;
}

.fa-python {
    color: #264653;
}

.fa-php {
    color: #5f6375;
}

/*================= SECCION PROYECTOS =================*/
#seccion_proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.titulo {
    font-size: 30px;
    font-family: Roboto, sans-serif;
    color: black;
    border-bottom: 3px solid black;
}

.div_proyecto {
    width: 50%;
    height: 50%;
    margin: 20px;
    position: relative;
}

.div_proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 30px 12px 24px rgba(0, 0, 0, 0.4);
    transition: filter 0.3s ease;
}

.div_proyecto:hover img {
    filter: brightness(50%); 
}

.div_lenguajes_proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 16px;
    bottom: 5px;
    gap: 20px;
}

.div_lenguajes_proyectos i {
    font-size: 35px;
    margin: 0;
}

.div_lenguajes_proyectos .fa-github {
    cursor: pointer;
}

.div_texto_proyecto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

.descripcion {
    text-align: center;
    font-size: 14px;
}

.div_proyecto:hover {
    box-shadow: 30px 12px 24px rgba(0, 0, 0, 0.4);
}

.div_proyecto:hover .div_texto_proyecto {
    opacity: 1;
}

/*================= SECCION CERTIFICADOS =================*/
#seccion_certificados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 100px;
}

.div_certificado {
    border: 3px solid rgb(39, 39, 39);
    margin: auto;
    width: 60%;
    height: 100%;
}

.div_certificado img {
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); 
}

/*================= FOOTER =================*/
footer {
    margin-top: 100px;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
}


@media screen and (max-width: 768px) {
    #seccion_inicio {
        flex-wrap: wrap;
    }

    .div_datos h1 {
        font-size: 36px;
    }

    .div_datos h3 {
        font-size: 30px;
    }

    .div_datos p {
        font-size: 28px;
    }

    .div_cv button {
        font-size: 22px;
    }

    .div_iconos .fa-github,
    .div_iconos .fa-whatsapp {
        font-size: 36px;
    }

    .s .fa-html5,
    .div_lenguajes .fa-css3-alt,
    .div_lenguajes .fa-bootstrap,
    .div_lenguajes .fa-js,
    .div_lenguajes .fa-react,
    .div_lenguajes .fa-angular,
    .div_lenguajes .fa-python,
    .div_lenguajes .fa-php {
        font-size: 45px;
    }

    .titulo {
        font-size: 28px;
    }

    .div_proyecto {
        width: 80%;
        height: 80%;
    }

    .div_lenguajes_proyectos i {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .menu-icon {
        display: block;
    }

    #nav {
        display: none;
    }

    #barra_navegacion {
        flex-direction: column;
    }

    #barra_navegacion ul {
        flex-direction: column;
    }

    #barra_navegacion a {
        font-size: 14px;
    }

    .div_datos h1 {
        font-size: 28px;
    }

    .div_datos h3 {
        font-size: 20px;
    }

    .div_datos p {
        font-size: 20px;
    }

    .div_cv button {
        padding: 5px;
        font-size: 18px;
    }

    .div_iconos {
        flex-direction: column;
    }

    .div_iconos .fa-github,
    .div_iconos .fa-whatsapp {
        font-size: 34px;
    }

    #seccion_sobremi {
        grid-template-columns: 1fr;
    }

    .div_texto_sobremi p {
        font-size: 16px;
    }

    .div_lenguajes {
        flex-direction: column;
    }

    .div_lenguajes .fa-html5,
    .div_lenguajes .fa-css3-alt,
    .div_lenguajes .fa-bootstrap,
    .div_lenguajes .fa-js,
    .div_lenguajes .fa-react,
    .div_lenguajes .fa-angular,
    .div_lenguajes .fa-python,
    .div_lenguajes .fa-php {
        font-size: 50px;
    }

    .titulo {
        font-size: 24px;
    }

    .div_proyecto {
        width: 100%;
        height: 100%;
    }

    .div_lenguajes_proyectos {
        width: 100%;
    }

    .div_lenguajes_proyectos i {
        font-size: 18px;
    }

    #seccion_certificados {
        grid-template-columns: 1fr;
    }

    .div_certificado {
        width: 100%;
        height: 100%;
    }

    footer {
        font-size: 12px;
    }
}
